/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/ShoppingList.scss ***!
  \************************************************************************************************************************************************************************/
.ShoppingList__field_container {
  background: lightgray;
  border-radius: 50px;
  width: 520px;
}

.ShoppingList__product_field, .ShoppingList__quantiy_field {
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
  width: 250px;
  display: flex;
  gap: 30px;
}
/*!*************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/button.module.scss ***!
  \*************************************************************************************************************************************************************************/
.button-module__cool-button {
  background-color: lightcoral;
  box-sizing: border-box;
}
.button-module__cool-button:hover {
  background-color: lightblue;
}
